project/
target/
obj_dir/
out/
test_run_dir/
*.anno.json
*.fir
*.vcd
.metals
insns.hex
firrtl_black_box_resource_files.f
chiselwatt_out.config
chiselwatt.svf
chiselwatt.json
chiselwatt.bit
chiselwatt
MemoryBlackBox.v
Core.v
Core.fir
Core.anno.json
LoadStoreInsns.hex
MemoryBlackBoxInsns.hex
samples/micropython
samples/hello_world/hello_world.bin
samples/hello_world/hello_world.elf
samples/hello_world/hello_world.o
samples/hello_world/head.o