LOCATE COMP "clock" SITE "G2";
IOBUF PORT "clock" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock" 25 MHZ;

LOCATE COMP "reset" SITE "D7";
IOBUF PORT "reset" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "io_tx" SITE "M1";
LOCATE COMP "io_rx" SITE "L4";

IOBUF PORT "io_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "io_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "io_terminate" SITE "B2";
LOCATE COMP "io_ledB" SITE "C2";
LOCATE COMP "io_ledC" SITE "C1";

IOBUF PORT "io_terminate" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_ledB" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_ledC" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;