LOCATE COMP "clock" SITE "A10";
IOBUF PORT "clock" IO_TYPE=LVCMOS33;

LOCATE COMP "reset" SITE "P4";
IOBUF PORT "reset" IO_TYPE=LVCMOS33;

LOCATE COMP "io_tx" SITE "P3";
LOCATE COMP "io_rx" SITE "P2";

IOBUF PORT "io_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "io_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "io_terminate" SITE "A13";
LOCATE COMP "io_ledB" SITE "A12";
LOCATE COMP "io_ledC" SITE "B19";

IOBUF PORT "io_terminate" IO_TYPE=LVCMOS25;
IOBUF PORT "io_ledB" IO_TYPE=LVCMOS25;
IOBUF PORT "io_ledC" IO_TYPE=LVCMOS25;
