LOCATE COMP "clock" SITE "A9";
IOBUF PORT "clock" IO_TYPE=LVCMOS33;

LOCATE COMP "reset" SITE "J2";
IOBUF PORT "reset" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "io_tx" SITE "N17";
LOCATE COMP "io_rx" SITE "M18";

IOBUF PORT "io_tx" IO_TYPE=LVCMOS25;
IOBUF PORT "io_rx" IO_TYPE=LVCMOS25;

LOCATE COMP "io_terminate" SITE "V17";
LOCATE COMP "io_ledB" SITE "T17";
LOCATE COMP "io_ledC" SITE "J3";

IOBUF PORT "io_terminate" IO_TYPE=LVCMOS25;
IOBUF PORT "io_ledB" IO_TYPE=LVCMOS25;
IOBUF PORT "io_ledC" IO_TYPE=LVCMOS25;
